<div class="container main-page-content">
  <div class="container content-container card">
    <div class="row">

      <div id="main-menu" class="list-group col-2">
        <a routerLink="/teacher/profile" class="list-group-item">Профіль</a>
        <a routerLink="/teacher/topic/overview" class="list-group-item">Перегляд матеріалів</a>
        <a routerLink="/teacher/article/create" class="list-group-item">Створення статті</a>
      </div>
      <div class="card-block col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
