<div class="container main-page-content">
  <div class="container content-container card">
    <div class="row">

      <div id="main-menu" class="list-group col-2">
        <a routerLink="/student/profile" class="list-group-item">Профіль</a>
        <a routerLink="/student/lessons-list" class="list-group-item">Список уроків</a>
        <a routerLink="/student/traning" class="list-group-item">Тренування</a>
        <a routerLink="/student/dictionary" class="list-group-item">Словник</a>
      </div>
      <div class="card-block col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
