<div *ngFor="let topic of topicsToLearn">
  <div class="row">
    <div class="row lesson-name"><h1 class="lesson-name-text">
      {{ topic.name }}
    </h1></div>
    <div class="row lesson-card-group">
      <div class="card lesson-card" *ngFor="let lesson of topic.lessons">
        <div class="lesson-content">
          <img [src]="lesson.picture.sourcePath"
               class="card-img-top rounded float-left lesson-img" alt="...">
          <h5 class="card-title lesson-text">{{lesson.name}}</h5>
          <!--<div class="main_info col-0.5">-->
<!--          <a class="btn btn-info" href="#">
            <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
          </a>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
