<div class="row">
  <div class="row lesson-name"><h1 class="lesson-name-text">
    Мова
  </h1></div>
  <div class="row lesson-card-group">
    <div class="card lesson-card">
      <div class="lesson-content">
        <img src="../../../../assets/img/article/language/alphabet/alphabet.jpg"
             class="card-img-top rounded float-left lesson-img" alt="...">
        <h5 class="card-title lesson-text">Абетка</h5>
      </div>
    </div>
    <div class="card lesson-card">
      <div class="lesson-content">
        <img src="../../../../assets/img/article/language/talking/talking.jpg"
             class="card-img-top rounded float-left lesson-img" alt="...">
        <h5 class="card-title lesson-text">Говоріння</h5>
      </div>
    </div>
    <div class="card lesson-card">
      <div class="lesson-content">
        <img src="../../../../assets/img/article/language/write/write.jpg"
             class="card-img-top rounded float-left lesson-img" alt="...">
        <h5 class="card-title lesson-text">Писання</h5>
      </div>
    </div>
    <div class="card lesson-card">
      <div class="lesson-content">
        <img src="../../../../assets/img/article/language/language/language.jpg"
             class="card-img-top rounded float-left lesson-img" alt="...">
        <h5 class="card-title lesson-text">Мова</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="row lesson-name"><h1 class="lesson-name-text">
    Речення
  </h1></div>
  <div class="row lesson-card-group">
    <div class="card lesson-card">
      <div class="lesson-content">
        <img src="../../../../assets/img/article/sentence/greeting/greeting.jpg"
             class="card-img-top rounded float-left lesson-img" alt="...">
        <h5 class="card-title lesson-text">Привітання</h5>
      </div>
    </div>
    <div class="card lesson-card">
      <div class="lesson-content">
        <img src="../../../../assets/img/article/sentence/phrases/phrases.jpg"
             class="card-img-top rounded float-left lesson-img" alt="...">
        <h5 class="card-title lesson-text">Вирази</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="row lesson-name"><h1 class="lesson-name-text">
    Математика
  </h1></div>
  <div class="row lesson-card-group">
    <div class="card lesson-card">
      <div class="lesson-content">
        <img src="../../../../assets/img/article/math/numbers/numbers.png"
             class="card-img-top rounded float-left lesson-img" alt="...">
        <h5 class="card-title lesson-text">Цифри</h5>
      </div>
    </div>
    <div class="card lesson-card">
      <div class="lesson-content">
        <img src="../../../../assets/img/article/math/operations/operations.jpg"
             class="card-img-top rounded float-left lesson-img" alt="...">
        <h5 class="card-title lesson-text">Операції</h5>
      </div>
    </div>
  </div>
</div>

