<div *ngFor="let topic of topicsToLearn">
  <div class="row" *ngIf="topic.lessons.length > 0">
    <div class="row lesson-name"><h1 class="lesson-name-text">
      {{ topic.name }}
    </h1></div>
    <div class="row lesson-card-group">
      <div class="card lesson-card" *ngFor="let lesson of topic.lessons">
        <div class="lesson-content">
          <div class="card-block">
            <img [src]="lesson.picture.sourcePath"
                 class="rounded lesson-img" alt="...">
          </div>
          <div class="card-block">
            <h5 class="card-title lesson-text">{{lesson.name}}</h5>
            <div class="main_info col-0.5">
              <a class="btn btn-info">
                <i (click)="open(content); initPickedLesson(lesson)" pickedLesson=lesson>Вивчати</i>
              </a>
              <a class="btn btn-info">
                <i>Тренувати</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Learn words-->
<ng-template #content let-c="close" let-d="dismiss">
  <!--  <div class="card lesson-card" *ngFor="let word of lesson.words">
      <div class="modal-header">
        {{word[1]}}
      </div>
    </div>-->
  <div class="modal-body">
    <ngbd-carousel-config [words]=pickedLesson.words></ngbd-carousel-config>
  </div>
</ng-template>
