<div class="container main-page-content">
  <div class="container content-container card">
    <div class="row">

      <div id="main-menu" class="list-group col-2">
        <a href="#" class="list-group-item">Item 2</a>
        <a href="#" class="list-group-item">Item 3</a>
        <a href="#" class="list-group-item">Item 4</a>
        <a href="#" class="list-group-item">Item 5</a>
      </div>
      <div class="card-block col-10">
        <div class="col-8 align-self-end">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </div>
</div>
