#article-create-wrapper {
  width: 100%;
  padding-top: 10px;
}

#article-title {
  margin-bottom: 25px;
}

#article-create-wrapper {
  margin-bottom: 50px;

  /*border: 1px solid black;*/
}

.ct-widget .ct-ignition {

}

.create-article-preview-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-article-preview-wrapper h3 {
  text-align: center;
}
