#article-create-wrapper {
  margin-top: 60px;
  background: #cfebfd;
  width: 100%;
  border-radius: 6px 0 0;
  padding-top: 10px;
}

#article-title {
  margin-bottom: 25px;
}

#article-create-wrapper {
  margin-bottom: 50px;

  /*border: 1px solid black;*/
}

.ct-widget .ct-ignition {

}
