#article-create-wrapper {
    margin-top: 100px;
}

#article-title {
  margin-bottom: 25px;
}

#article-create-wrapper {
  margin-bottom: 50px;

  /*border: 1px solid black;*/
}

.ct-widget .ct-ignition {

}
