<div class="container">
  <div class="row">
    <div id="article-create-wrapper">

      <div class="col-md-12">
        <input type="text" id="article-title" class="form-control" placeholder="Введіть назву статті"/>
      </div>

      <div class="col-md-12">
        <ckeditor [(ngModel)]="article.text">
          <h1>Створіть контент статті тут</h1>
        </ckeditor>
      </div>

      <div class="col-md-12 create-article-preview-wrapper">
        <h3>Попередній перегляд статті</h3>
        <div [innerHtml]="article.text"></div>
      </div>

      <div class="offset-9 col-md-3">
        <button type="button" class="btn btn-outline-primary">Зберегти статтю</button>
      </div>

    </div>
  </div>
</div>
