<!-- main app container-->
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand">Пінгвін</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="courses">Статті</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="courses">Відео</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="regestration">Register</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--
<button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
  Single Toggle
</button>
-->
