<div class="container main-page-content">
  <div class="row">
    <div class="col-8">
      <h1 class="step__heading">Пінгвін. Навчайся граючи</h1>
      <p class="step__caption h4">Пінгвін - це навчальний для дітей з вадами слуху та їх батьків</p>
      <div class="row pt-4">
        <i class="col-2 fa fa-graduation-cap fa-3x" aria-hidden="true"></i>
        <p class="col-8 step__caption h6 card-block">Дозволяє дитині опанувати правопис слів</p>
      </div>
      <div class="row pt-4">
        <i class="col-2 fa fa-sign-language fa-3x " aria-hidden="true"></i>
        <p class="col-8 step__caption h6 card-block">Курс з мови жестів, який буде корисний як дітям та і їх батькам</p>
      </div>
      <div class="row pt-4">
        <i class="col-2 fa fa-youtube fa-3x" aria-hidden="true"></i>
        <p class="col-8 step__caption h6 card-block">Каталог навчальних відео</p>
      </div>
      <div class="row pt-4">
        <i class="col-2 fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
        <p class="col-8 step__caption h6 card-block">Щотижневі статті на різну тематику</p>
      </div>
    </div>
    <div class="col-4 pt-5">
      <section class="section section&#45;&#45;steps login">
        <h2>Вхід</h2>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Пошта</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username"
                   #username="ngModel"
                   required/>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                   #password="ngModel"
                   required/>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Ви вели невірний пароль. Повторіть ввід</div>
            <label>Забули пароль?</label>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary accent-btn">Війти</button>
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </div>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
      </section>
    </div>
  </div>

</div>
