@font-face{
  font-family: 'MY';
  src: url('assets/css/fonts/CaviarDreams-webfont.eot');
  src: url('assets/css/fonts/CaviarDreams-webfont.eot?iefix') format('eot'),
  url('assets/css/fonts/CaviarDreams-webfont.woff') format('woff'),
  url('assets/css/fonts/CaviarDreams-webfont.ttf') format('truetype'),
  url('assets/css/fonts/CaviarDreams-webfont.svg#webfont') format('svg');
}
body {
  /*font-family: "proxima-nova-soft", Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  font-family:'MY';
  font-weight: 400;
  line-height: 24px;
  color: #494949;
  letter-spacing: 0.5px;
}
